{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "Events": true,
    "angular": true,
    "EventEmitter": true,
    "firebase": true,
    "moment": true,
    "module": true,
    "inject": true
  }
}
