<div layout id="main-wrapper">
  <div id="main">
    <div id="main-topbar"></div>
    <md-toolbar layout>
      <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </md-toolbar>
    <section layout id="main-content">
      <dir-article flex="25" ng-repeat="item in vm.newsArticles" article="item"></dir-article>
    </section>
  </div>
</div>
